{% extends "paginas/base.html" %}
{% load static %}
{% block titulo %} Ajuste de Mes de las Declaraciones Asignadas  {% endblock %}
{% block contenido %}
<!-- Bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css">
<!-- jQuery primero, luego DataTables y Bootstrap Bundle -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

<!-- Scripts personalizados -->
<script src="{% static 'js/visor_funcionarios.js' %}"></script>

<form id="ajusteDeclaracion" action="" method="post"  enctype="multipart/form-data">
    {% csrf_token %}  <!-- llave de formulario de Django--> 
    <h4 class="card-title" style="text-align: center;">Ajuste mes declaraciones asignadas </h4>

    <div class="row mt-3">
        <div class="col text-right">
            <a href="{% url 'visor' %}" class="btn btn-primary"><i class="fa fa-reply"></i> Volver al menú </a>       
        </div>
    </div>

    <table id="Ajuste_Declaracion" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre Cliente</th>                     
            <th>Iddecl.</th>
            <th>Detalle</th>
            <th>Mes</th>
            <th>Actualizar</th>
            <th>Accion</th>

        </tr>
    </thead>
        <tbody>       
            {% for asignacion in var_asignaciones %}
            <tr>
                <!-- forloop.counter cuenta lineas del grid pone de 1 en adelante -->
                <td>{{ asignacion.IDAsignacion }}</td> <!-- Pone el Id de asignacion   -->
                <td>{{ asignacion.IDClientes_Proveedores__Descripcion }}</td>
                <td>{{ asignacion.IDDeclaracion__codigo }}</td>
                <td>{{ asignacion.IDDeclaracion__detalle }}</td>
                <td>{{ asignacion.Mes }}</td> <!-- Si el campo 'Mes' está en tus datos -->
                <td>
                    <input type="text" id="numero_{{asignacion.IDAsignacion}}" value={{asignacion.Mes}} placeholder='Mes' size="1"  min="1" max="12" step="1" oninput="validaMes(this)">
                </td>                            
                <td>
                    <button class="btn btn-primary" id="mes_{{asignacion.IDAsignacion}}"  onclick="StMesConfirma('{{ asignacion.IDAsignacion }}',event)"><i class="bi bi-floppy"></i></button>
                </td>
            </tr>
            {% endfor %}   
    </tbody>
    </table>

    <script> 
        // Inicializar DataTable
        $(document).ready(function () {
            $('#Ajuste_Declaracion').DataTable({
                "language": {
                    "url": "{% static 'json/Spanish.json' %}" 
                },
                "searching": true,  // Habilitar búsqueda global
                "ordering": true,    // Habilitar ordenamiento de columnas
                "info": true,
                "scrollX": true,
                "paging": true,
                "scrollY": "430px",
                "responsive": true,
                "scrollCollapse": true,
            });
        });
    </script>

    <!-- Valida el campo para que no ingrese otro tipo de dato permitido -->
    <script>
        function validaMes(input) {      
        const value = input.value;  // Obtener el valor del campo      
        const num = Number(value);  // Convertir el valor a un número        
        if (isNaN(num) || num < 1 || num > 12) { // Validar si el valor es un número y está en el rango de 1 a 12      
            input.setCustomValidity('Por favor, ingrese un mes entre 1 y 12.');   // Si no es válido, mostrar un mensaje de error o ajustar el valor
            input.reportValidity(); // Muestra el mensaje de error
        } else {        
            input.setCustomValidity(''); // Si es válido, eliminar el mensaje de error
        }
        }
    </script>
</form>
{% endblock %}


