{% extends "paginas/base.html" %}
{% load static %}
{% block titulo %} Asigna Declaraciones  {% endblock %}
{% block contenido %}

<!-- Combo -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/index.js' %}"></script> 
 
<div class="card">
    <div class="card-body">
        
        <div class="row mt-1">
            <div class="col-12"> <!-- Utiliza col-6 para que ocupen la mitad del ancho cada elemento -->
                <h4 class="card-title text-center">Asigna Clientes a Funcionarios</h4>
            </div>
            <div class="col-2 text-left "> <!-- Utiliza col-6 y text-right para alinear a la derecha -->
                <a href="{% url 'visor' %}" class="btn btn-primary"><i class="fa fa-reply"></i> Volver al menú </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-26">
              <form action ="" method="POST">
                  {% csrf_token %}          
                  {% include 'formas/asignacion_form.html' %}             
              </form>
            </div> 
        </div>                           
    </div>
   
 </div>



{% endblock %}

