{% extends "paginas/base.html" %}
{% load static %}
{% block titulo %} BITACORA {% endblock %}
{% block contenido %}

<!-- Bootstrap y otras bibliotecas -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<!-- Estilos para los botones -->
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">

<!-- Scripts para los botones -->
<script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.colVis.min.js"></script>

<!-- Scripts personalizados -->
<script src="{% static 'js/visor_clientes.js' %}"></script>

<div class="card-body">
    <input type="button" onclick="history.back()" class="btn btn-primary" name="volver atrás" value="volver atrás" style="float: left;">
    <h4 class="card-title" style="text-align: center;">Bitácora</h4>                   
</div>   

<!-- <body onload="StVisorClientes()"></body> -->

<table id="VisorBitacora" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Fecha</th>                     
            <th>Usuario</th>
            <th>Proceso</th>
            <th>Detalle</th>
            <th>Modulo</th>
        </tr>
    </thead>
    <tbody>     
        {% for item in var_formulario %}
        <tr>
            <td>{{ item.IDBitacora }}</td>
            <td>{{ item.Fecha_Sistema|date:"d-m-y H:i:s" }}</td>
            <td>{{ item.Usuario }}</td>
            <td>{{ item.Proceso }}</td>
            <td>{{ item.Descripcion }}</td>
            <td>{{ item.Modulo }}</td>
        </tr>
    {% endfor %}
</tbody>   
    </tbody>
</table>

<script> 
    // Inicializar DataTable
    $(document).ready(function () {
        $('#VisorBitacora').DataTable({
            dom: 'lBfrtip',
            language: {
                url: "{% static 'json/Spanish.json' %}"
            },
            searching: true,
            ordering: false,
            paging: true,
            info: true,
            scrollX: true,
            scrollY: "430px",
            responsive: true,
            autoWidth: true,
            scrollCollapse: true,
            stateSave: true,    
            lengthMenu: [
                [10, 25, 50, 100, -1],
                [10, 25, 50, 100, "All"]
            ],
            buttons: [
                { extend: 'copy', text: 'Copiar', className: 'btn btn-secondary' },
                { extend: 'excel', text: 'Excel', className: 'btn btn-success' },
                { extend: 'pdf', text: 'PDF', className: 'btn btn-danger' },
                { extend: 'print', text: 'Imprimir', className: 'btn btn-info' },
                { extend: 'colvis', text: 'Visibilidad de Columnas', className: 'btn btn-primary' }
            ]
        });
    });
</script>
{% endblock %}
