{% extends "paginas/base.html" %}
{% load static %}
{% block titulo %} Calendarización {% endblock %}
{% block contenido %}
{% csrf_token %}  <!-- llave de formulario de Django--> 

<!-- busca los script para todos los clientes-->
<script src="{% static 'js/index.js' %}"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
<body onload="StCalendario_Tributario()">
   

<div class="card">    
    <div class="card-body">
        <h4 class="card-title" style="text-align: center;">Calendarización Tributaria</h4>   
         <!-- Botón al final de la fila -->
        <div class="row mt-3">
            <div class="col text-right">
              <a href="{% url 'visor' %}" class="btn btn-primary"><i class="fa fa-reply"> Volver al menú </i></a>                                              
              
              <input type="date" onclick="StBuscaporfecha()" class="btn btn-primary" id="fecha" title="Selecciona una fecha y oprima el click"   name="fecha" value="" style="float: right;">
            </div>
        </div>                  

    <!-- Muestra el combo de las declaraciones del sistema -->
    <div class="col-md-16 d-flex justify-content-between align-items-center"> <!-- Define el tamaño del combo y alinea elementos -->
      <div> <!-- Añade un div para agrupar elementos -->
          <a><label class="text-primary">Escoja Declaración activas </label></a>
          <select class="form-select" onchange="" id="lcalendario"></select>
      </div>
      <button class="btn btn-info" type="button" title="Oprima para agregar"  onclick="Stagrega_Declaracion()">Agregar</button>
  </div>
     
    <div class="card-body">        
        <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>   
                        <th scope="col">Codigo</th>                                             
                        <th scope="col">Detalle</th>
                        <th scope="col">Tiempo</th>
                        <th scope="col">Descripción</th>
                        <th score="col">Acción</th>
                    </tr>
                </thead>
                <tbody id="declaracionesTabla">   

                </tbody>           
         </table>     
    </div>
    <div class="card-footer text-muted">Fechas de presentación</div>
 </div>


 <script>
    $(document).ready(function() {
        // Función para ordenar los datos al hacer clic en el encabezado de la columna
        $('th').click(function() {
            var table = $(this).parents('table').eq(0);
            var rows = table.find('tr:gt(0)').toArray().sort(comparar($(this).index()));
  
            this.asc = !this.asc;
            if (!this.asc) {
                rows = rows.reverse();
            }
            for (var i = 0; i < rows.length; i++) {
                table.append(rows[i]);
            }
        });
        
        // Función para comparar los valores y ordenarlos
        function comparar(index) {
            return function(a, b) {
                var valA = getCellValue(a, index);
                var valB = getCellValue(b, index);
                return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB);
            };
        }
  
        // Función para obtener el valor de la celda
        function getCellValue(row, index) {
            return $(row).children('td').eq(index).text();
        }
    });
  </script>

{% endblock %}


