{% extends "paginas/base.html" %}
{% load static %}
{% block titulo %} Calendario Tributario Reasignación {% endblock %}
{% block contenido %}
{% csrf_token %}  <!-- llave de formulario de Django--> 

<!-- busca los script para todos los clientes-->
<script src="{% static 'js/Calendario_Tributario_Reasigna.js' %}"></script> 

<!-- Incluye los archivos de flatpickr (puedes ajustar las versiones y URLs según corresponda) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"> 
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<!-- <body onload="StCalendario_Tributario()"> -->

    <div class="row mt-3">
        <div class="col text-right">
            <a href="{% url 'visor' %}" class="btn btn-primary"><i class="fa fa-reply"></i> Volver al menú </a>           
            <input type="text" id="selector-a" placeholder="Seleccionar mm/aaaa" class="btn btn-info" onchange="StbuscaDeclaracionesCalendariomensual(selectedYear,selectedMonth) " style="float: right; color: white;">            
        </div>
    </div>
    
    <div class="card">    
    <div class="card-body">
        <h4 class="card-title" style="text-align: center;">Calendario Tributario Reasignación</h4>                    
    <div class="card-body">        
        <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>   
                        <th scope="col">Codigo</th>                                             
                        <th scope="col">Detalle</th>
                        <th scope="col">Fecha Calendario</th>                        
                        <th scope="col">Nueva Fecha</th>    
                        
                    </tr>
                </thead>
                <tbody id="declaracionesTabla">   

                </tbody> 
                
         </table>     
    </div>     
    <input name="" id="Guarda" class="btn btn-success" type="submit" onclick="StguardaReasignacion()" value="Enviar Datos"/>  
    
    <div class="card-footer text-muted">Reasignaciones </div>
 </div>

</body>


<script>
    // Configura flatpickr para mostrar solo años
    flatpickr("#selector-a", {
        dateFormat: "Y-m",  // Formato de fecha: solo año
        minDate: "2000-01",   // Año mínimo permitido
        maxDate: "today+10",  // Hasta el año actual + 10 
        yearRange: "2000:today",  // Rango de años permitido
        onChange: function(selectedDates, dateStr, instance) {
            var selectedYear = parseInt(dateStr.split('-')[0]);
            var selectedMonth = parseInt(dateStr.split('-')[1]);
            document.getElementById("selector-a").setAttribute("onchange", `StbuscaDeclaracionesCalendariomensual(${selectedYear},${selectedMonth})`);
        }
    });
</script>




{% endblock %}


