{% extends "paginas/base.html" %}
{% block titulo %} Confirma Declaraciones Cerradas {% endblock %}
{% block contenido %}
{% load static %}
{% csrf_token %}  <!-- llave de formulario de Django--> 


<link rel="stylesheet" href="{% static 'css/style.css' %}">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.14.305/pdf.min.js"></script>

<!-- Personaliza  -->
<script src="{% static 'js/index.js' %}"></script> 
<!--<script src="{% static 'css/style.css' %}"></script> -->

<body onload="StStatushistoricoDeclaraciones()">

<div class="row mt-3">
    <div class="col text-right">                
        <a href="{% url 'visor' %}" class="btn btn-primary"><i class="fa fa-reply"> Volver al menú </i></a>          
                <button class="btn btn-primary btn-fix" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                    <i class="bi bi-arrow-up-left-circle-fill"></i>
                </button>
    </div>                
</div>                

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">Registro de Ubicación del Archivo de Acuse y Declaración </h5>                                                        
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body small">    
       
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02" name="imagen" accept=".pdf">
                <label class="input-group-text" for="inputGroupFile02"></label>     
                <button id="viewPdfBtn" class="btn btn-primary">Ver PDF</button>                     
            </div>
            <div>
               <canvas id="pdfViewer"></canvas>                               
            </div>
         
       
    </div>
</div>  


<!-- <th scope="col">Declaracion</th>-->          
<div class="card">
    <div class="card-body">        
        <table class="table table-striped" id="declaracionesTabla" style="width:100%">
                <thead>                    
                    <tr style="background-color: blue; color: white;">
                        <th style="width: 8%">ID</th>                        
                        <th style="width: 8%">Cod.</th>                        
                        <th style="width: 8%">Cod.</th>
                        <th style="width: 8%">Cliente</th>
                        <th style="width: 8%">Asignada</th>
                        <th style="width: 8%">Presentar</th> 
                        <th style="width: 8%">Cierre</th>                                               
                        <th style="width: 8%">Funcionario</th> 
                        <th style="width: 8%">Rect</th> 
                        <th style="width: 8%">Correo</th>                        
                        <th style="width: 3%">Comprobante</th> 
                        <th style="width: 5%">Fecha</th>   
                        <th style="width: 8%">Acción</th>                                                                

                    </tr>
                </thead>
                <tbody>                                                
                </tbody>
                      
         </table>     
                <!-- paginacion-->                                                       
                {% include "formas/paginacion.html" %}   
    </div>
    <div class="card-footer text-muted"></div>
</div>
</body>

<!-- orden columnas --> 
<script>
    $(document).ready(function() {
        // Función para ordenar los datos al hacer clic en el encabezado de la columna
        $('th').click(function() {
            var table = $(this).parents('table').eq(0);
            var rows = table.find('tr:gt(0)').toArray().sort(comparar($(this).index()));

            this.asc = !this.asc;
            if (!this.asc) {
                rows = rows.reverse();
            }
            for (var i = 0; i < rows.length; i++) {
                table.append(rows[i]);
            }
        });
        
        // Función para comparar los valores y ordenarlos
        function comparar(index) {
            return function(a, b) {
                var valA = getCellValue(a, index);
                var valB = getCellValue(b, index);
                return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB);
            };
        }

        // Función para obtener el valor de la celda
        function getCellValue(row, index) {
            return $(row).children('td').eq(index).text();
        }
    });
</script>

<!--
<script>
    const inputFile = document.getElementById('inputGroupFile02');
    const viewPdfBtn = document.getElementById('viewPdfBtn');
    const pdfViewer = document.getElementById('pdfViewer');
    const ctx = pdfViewer.getContext('2d');

    viewPdfBtn.addEventListener('click', () => {
            const file = inputFile.files[0];
            if (file && file.type === 'application/pdf') {
                const fileReader = new FileReader();

                fileReader.onload = function(e) {
                    const loadingTask = pdfjsLib.getDocument({data: e.target.result});
                    loadingTask.promise.then(function(pdf) {
                        pdf.getPage(1).then(function(page) {
                            const scale = 1.5;
                            const viewport = page.getViewport({scale: scale});

                            pdfViewer.height = viewport.height;
                            pdfViewer.width = viewport.width;

                            const renderContext = {
                                canvasContext: ctx,
                                viewport: viewport
                            };
                            page.render(renderContext);
                        });
                    });
                };

                fileReader.readAsArrayBuffer(file);
            } else {
                alert('Por favor, selecciona un archivo PDF.');
            }
        });
    </script> -->

    <script>
        const inputFile = document.getElementById('inputGroupFile02');
        const viewPdfBtn = document.getElementById('viewPdfBtn');
    
        viewPdfBtn.addEventListener('click', () => {
            const file = inputFile.files[0];
            if (file && file.type === 'application/pdf') {
                const fileReader = new FileReader();
    
                fileReader.onload = function(e) {
                    const blob = new Blob([e.target.result], { type: 'application/pdf' });
                    const url = URL.createObjectURL(blob);
                    window.open(url, '_blank');
                };
    
                fileReader.readAsArrayBuffer(file);
            } else {
                alert('Por favor, selecciona un archivo PDF.');
            }
        });
    </script>


{% endblock %}

