{% extends "paginas/base.html" %}
{% block titulo %} Confirma Declaraciones Cerradas {% endblock %}
{% block contenido %}
{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/index.js' %}"></script> 
<!-- busca las declaracioens -->


<body onload="StStatushistoricoDeclaraciones()">

<div class="row mt-3">
    <div class="col text-right">                
        <a href="{% url 'visor' %}" class="btn btn-primary"><i class="fa fa-reply"> Volver al menú </i></a>          
    </div>
</div>  
          
<div class="card">
    <div class="card-body">        
        <table class="table">
                <thead>
                    <tr style="background-color: blue; color: white;">
                        <th scope="col">ID</th>
                        <th scope="col">Cod.</th>
                        <th scope="col">Declaracion</th>
                        <th scope="col">Cod.</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Asignada</th>
                        <th scope="col">Presentar</th> 
                        <th scope="col">Cierre</th>                                               
                        <th scope="col">Funcionario</th> 
                        <th scope="col">Est</th> 
                        <th scope="col">Correo</th>
                        <th scope="col">Proceso</th>  
                        <th scope="col">Comprobante</th> 
                        <th scope="col">Fecha</th>                                               

                    </tr>
                </thead>
                <tbody>                                                
                </tbody>
                      
         </table>     
                <!-- paginacion-->                                                       
                {% include "formas/paginacion.html" %}   
    </div>
    <div class="card-footer text-muted"></div>
</div>
</body>

<!-- orden columnas --> 
<script>
    $(document).ready(function() {
        // Función para ordenar los datos al hacer clic en el encabezado de la columna
        $('th').click(function() {
            var table = $(this).parents('table').eq(0);
            var rows = table.find('tr:gt(0)').toArray().sort(comparar($(this).index()));

            this.asc = !this.asc;
            if (!this.asc) {
                rows = rows.reverse();
            }
            for (var i = 0; i < rows.length; i++) {
                table.append(rows[i]);
            }
        });
        
        // Función para comparar los valores y ordenarlos
        function comparar(index) {
            return function(a, b) {
                var valA = getCellValue(a, index);
                var valB = getCellValue(b, index);
                return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB);
            };
        }

        // Función para obtener el valor de la celda
        function getCellValue(row, index) {
            return $(row).children('td').eq(index).text();
        }
    });
</script>

{% endblock %}

