{% extends "paginas/base.html" %}
{% block titulo %} Editar Permisos  {% endblock %}
{% block contenido %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}


<div class="card">
    <div class="card-header">Editar Permisos</div>
    <div class="card-body">
        <h4 class="card-title">Editar Permisos</h4>
       {% include 'formas/form.html' %}
    </div>
    <div class="card-footer text-muted">Registro Permisos</div>
 </div>

{% endblock %}