{% extends "paginas/base.html" %}
{% block titulo %} Estado General de  las Declaraciones  {% endblock %}
{% block contenido %}
{% load static%}

<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css">
    <!-- Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!-- DataTables Buttons CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.bootstrap5.min.css">
</head>
<body>
<!-- jQuery y DataTables -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>

<!-- DataTables Buttons JS -->
<script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.colVis.min.js"></script>

<!-- Flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<!-- Scripts personalizados -->
<script src="{% static 'js/Beneficios.js' %}"></script>

<!-- <body onload="StStatusDeclaraciones()"> -->


<div class="card">
    <div class="col text-right">
            <a href="{% url 'visor' %}" class="btn btn-primary"><i class="fa fa-reply"></i> Volver al menú </a>
             
        <div class="card-body">
        <h4 class="card-title">Estado General de las Declaraciones </h4>      
        <table id="visorglobalgeneral" class="table table-striped" style="width:130%">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Asigno</th>
                        <th scope="col">Presento</th>
                        <th scope="col">Mes</th> 
                        <th scope="col">Funcionario</th> 
                        <th scope="col">Estado</th>                        
                        <th scope="col">Iniciada</th>
                        <th scope="col">Suspendida</th>                        
                        <th scope="col">ID Cliente</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                    </tr>
                </thead>
                <tbody>                         
                    {% for a in v_Estado %}

                    <tr class="">
                        <td scope="row">{{a.IDDeclaracion}}</td>
                        <td scope="row">{{a.IDDeclaracion__codigo}}</td>
                        <td style="width: 18%" scope="col">{{a.IDDeclaracion__detalle}}</td>
                        <td scope="row">{{a.Fecha_Asigna}}</td>
                        <td scope="row">{{a.Fecha_Presenta}}</td>
                        <td scope="row">{{a.Mes}}</td>  
                        <td scope="row">{{a.IDPlanilla_Funcionarios__Nombre}}</td> 
                        <td scope="row">
                            {% if a.IDDeclaracion__estado %}
                                Activa
                            {% else %}
                                Inactiva
                            {% endif %}
                        </td>                                                
                        <td scope="row">
                            {% if a.Iniciada %}
                                Si
                            {% else %}
                                No
                            {% endif %}
                        </td> 
                        <td scope="row">
                            {% if a.Suspendida %}
                                Si
                            {% else %}
                                No
                            {% endif %}
                        </td> 
                          
                        <td scope="row">{{a.IDClientes_Proveedores__IDClientes_Proveedores}}</td> 
                        <td scope="row">{{a.IDClientes_Proveedores__Descripcion}}</td> 
                        <td scope="row">{{a.IDClientes_Proveedores__Email}}</td> 
                    </td>
                    {% endfor %}                   
                </tbody>                           
        </table>     
                <!-- paginacion-->                                                       
                {% include "formas/paginacion.html" %} 
        </div> 
    </div>
</div>

<script> 
    // Inicializar DataTable
    $('#visorglobalgeneral').DataTable({
                dom: 'lBfrtip', // Esto es necesario para mostrar los botones
                language: {
                    url: "{% static 'json/Spanish.json' %}" 
                },
                searching: true,
                ordering: true,
                paging: true,
                info: true,
                scrollX: true,
                scrollY: "430px",
                responsive: true,
                autoWidth: true,
                scrollCollapse: true,
                stateSave: true,    
                lengthMenu: [
                    [10, 25, 50, 100, -1], // Número de registros por página
                    [10, 25, 50, 100, "All"] // Etiquetas para los números de registros
                            ],            
                buttons: [
                        {
                            extend: 'copy',
                            text: 'Copiar',
                            className: 'btn btn-secondary'
                        },
                        {
                            extend: 'excel',
                            text: 'Excel',
                            className: 'btn btn-success'
                        },
                        {
                            extend: 'pdf',
                            text: 'PDF',
                            className: 'btn btn-danger'
                        },
                        {
                            extend: 'print',
                            text: 'Imprimir',
                            className: 'btn btn-info'
                        },
                        {
                            extend: 'colvis',
                            text: 'Visibilidad de Columnas',
                            className: 'btn btn-primary'
                        }
                ]
    });
</script>


{% endblock %}

