<form enctype="multipart/form-data" method="post">
 {% csrf_token %}  <!-- llave de formulario de Django--> 

 {% for campo in var_formulario %}
    <div class="mb-3">
        <label for="" class="form-label">{{ campo.label }}:</label>
        <!--- Campo imagen-->
        {% if campo.field.widget.input_type == 'file' and campo.value %}
            <br/>
            <img src="{{MEDIA_URL}}/imagenes/{{campo.value}}" width="100" alt ="" srcset="">
        {% endif %}  

        <!-- verifica el tipo de campo y coloca el checkbox -->
        {% if campo.field.widget.input_type == 'checkbox'   %}   
        <label>
            <input type="checkbox" id="" name="{{ campo.name }}" value="true"
                   {% if campo.value %} checked {% endif %}/> Activo
        </label>
        {% else %}      
           <input  type="{{campo.field.widget.input_type}}"
           class="form-control"  
           name="{{ campo.name }}" 
           id=""  
           aria-describedby="helpId" 
           placeholder="{{ campo.label }}"
           value = "{{ campo.value | default:''}}" 
           maxlength="{{campo.maxlength }}"                       
     />  

        {% endif %} 
            
    </div>
    <!-- controla el error -->
    <div class="col-12 help-text"> {{campo.errors}} </div>
    {% endfor %}
    
    <input name="" id="" class="btn btn-success" type="submit" value="Enviar Datos"/>  
    <a name="" id="" class="btn btn-primary" href="{% url 'visor' %}" role="button">Cancelar</a>  
</form>