<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Ingreso al Sistema</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="login">
    <div>
        <h1 style="color: rgb(243, 15, 15);">Inicio de Sesión</h1>
    </div>

<div class="form-container">
    <!-- Formulario de inicio de sesión -->
    <form method="post" class="login-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action" value="login" class="btn-login">Inicio de Sesión</button>
        <button type="button" class="btn-logout" onclick="window.location.href='{% url 'logout' %}'">Salida de Sesión</button>
    </form>
</div>



    <!-- Si hay errores de autenticación -->
    {% if form.errors %}
        <p>Usuario o contraseña incorrectos. Por favor, inténtalo de nuevo.</p>
    {% endif %}
</body>
</html>
