<!-- Reportes Generales -->
{% extends "paginas/base.html" %}
{% load static %}
{% block titulo %} Calendarización {% endblock %}
{% block contenido %}
{% csrf_token %}  <!-- llave de formulario de Django--> 

<!-- Vertically centered scrollable modal -->
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <a href="" class="btn btn-primary mr-auto"> Volver al menú</a>
        <h4 class="card-title text-center mb-0 flex-grow-1">Histórico de Movimientos Búsqueda</h4>
</div>