{% extends "paginas/base.html" %}
{% load static %}
{% block titulo %} Historico de Movimientos {% endblock %}
{% block contenido %}
<!-- Bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css">

<!-- jQuery primero, luego DataTables y Bootstrap Bundle -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

<!-- Flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<!-- Scripts personalizados -->
<script src="{% static 'js/Calendario.js' %}"></script> 

<!-- <body onload="StStatusDeclaracionesC()"> -->

    <div class="col text-right"> 
        <h4 style="text-align: center;">Status de las Declaraciones con el calendario</h4>               
        <a href="{% url 'visor' %}" class="btn btn-primary"><i class="fa fa-reply"> Volver al menú </i></a>          
        <input type="text" id="selector-a" placeholder="Seleccionar mm/aaaa" class="btn btn-info" onchange="Buscaconcalendario(selectedYear,selectedMonth) " style="float: right; color: white;">            
    </div>

        <table id="Stattus" class="table table-striped" style="width:100%">
                <thead>
                    <tr style="background-color: rgb(202, 202, 221); color: white;">
                        <th scope="col">ID</th>
                        <th scope="col">Cod.</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Funcionario</th>
                        <th scope="col">Cierre</th>
                        <th scope="col">Confirma</th> 
                        <th scope="col">Calendario</th> 
                        <th scope="col">Sistema</th> 
                        <th scope="col">Acuse</th> 
                        <th scope="col">Estado</th>
                        <th scope="col">Tipo</th>                        
                    </tr>
                </thead>
            <tbody>                                                
            </tbody>                      
        </table>     
        <!-- paginacion-->                                                       
        {% include "formas/paginacion.html" %}           
</body>

<!-- orden columnas --> 


<script> 
    // Inicializar DataTable
    $(document).ready(function () {
        $('#Stattus').DataTable({
            "language": {
                "url": "{% static 'json/Spanish.json' %}" 
            },
            "searching": true,  // Habilitar búsqueda global
            "ordering": true,    // Habilitar ordenamiento de columnas
            "paging": true,      // habilita paginacion 
            "info": true,
            "scrollX": true,     // muestra barra 
            "scrollY": "430px",
            "responsive": true, 
            "autoWidth": true,   // ajusta columnas 
            "scrollCollapse": true,
            "stateSave": true, // permite guardar el estado de la tabla 
            "buttons": [
                'copy', 'excel', 'pdf', 'print'
                        ],
            "buttons": [
                   {
                    extend: 'colvis',
                    columns: [0, 1, 2],
                    action: function (e, dt, node, config) {
                    alert('Botón de visibilidad de columnas clicado');
                                }
                    }
                        ]                        
        });
    });
</script>

<script>
    // Configura flatpickr para mostrar año y mes 
    flatpickr("#selector-a", {
        dateFormat: "Y-m",  // Formato de fecha: solo año
        minDate: "2000-01",   // Año mínimo permitido
        maxDate: "today+10",  // Hasta el año actual + 10 
        yearRange: "2000:today",  // Rango de años permitido
        onChange: function(selectedDates, dateStr, instance) {
            var selectedYear = parseInt(dateStr.split('-')[0]);
            var selectedMonth = parseInt(dateStr.split('-')[1]);
            document.getElementById("selector-a").setAttribute("onchange", `Buscaconcalendario(${selectedYear},${selectedMonth})`);
        }
    });
</script>

{% endblock %}