{% extends "paginas/base.html" %}
{% block titulo %} Registro de Declaraciones  {% endblock %}
{% block contenido %}


{% block js %} 

    <script> 
        function eliminadecla(id) {
               Swal.fire({
                "title":"Desea Eliminar la declaración",
                "text":"Una vez realizada se elimina por completo ",
                "icon":"warning",
                "showCancelButton": true,
                "cancelButtonText": "No, Cancelar",
                "confirmButtonText": "Si, Eliminar",
                "reverseButtons":true,
                "confirmButtonColor": "#dc3545",
                "backdrop":true,
                "showLoaderOmConfim": true,
            })
            .then(function(result){
                if(result.isConfirmed){                    
                    window.location.href = "/elimina/"+id
                }
            })
        }
    </script>
{% endblock %}


<div class="card">
    <div class="card-header">
        <a
            name=""
            id=""
            class="btn btn-success"
            href="{% url 'crear' %}"
            role="button"
            >Crear Declaraciones</a
        >
        
    </div>
    <div class="card-body">
        <h4 class="card-title">Visor</h4>
        <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Código</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Tiempo</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Observación</th> 
                        <th scope="col">Imagen</th> 
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>       
                    {% for a in dvisor %}

                    <tr class="">
                        <td scope="row">{{a.IDDeclaracion}}</td>
                        <td scope="row">{{a.codigo}}</td>
                        <td scope="row">{{a.detalle}}</td>
                        <td scope="row">{{a.tiempo}}</td>
                        {% if a.estado %}
                            <td scope="row" style="color: red">Activo</td>                        
                        {%else %}
                            <td scope="row" style="color: black">Inactivo </td>                        
                        {% endif%}                        
                        <td scope="row">{{a.observaciones}}</td> 
                        <td>
                            <img src="{{ a.imagen.url }}" height ="50" />      
                        </td>                    
                        <td><a name="" id="" class="btn btn-primary" href="{% url 'editar' a.IDDeclaracion %}"  role="button">Editar</a>
                            <a name="" id="" class="btn btn-danger"  href="#" onclick="eliminadecla({{ a.IDDeclaracion }})"  role="button">Borrar</a>
                        </td>
                    {% endfor %}    

                  
                </tbody>
         
         </table>     
                <!-- paginacion-->                                                       
                {% include "formas/paginacion.html" %}   
    </div>
    <div class="card-footer text-muted">Defina las fechas de Presentación</div>
</div>

{% endblock %}


<!-- <a name="" id="" class="btn btn-danger"  href="{% url 'elimina' a.id %}" role="button">Borrar</a> -->


