{% extends "paginas/base.html" %}
{% block titulo %} Registro de Declaraciones  {% endblock %}
{% block contenido %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
{% block js %} 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script> 
        function eliminadecla(id) {
               Swal.fire({
                "title":"Desea Eliminar la declaración",
                "text":"Una vez realizada se elimina por completo ",
                "icon":"warning",
                "showCancelButton": true,
                "cancelButtonText": "No, Cancelar",
                "confirmButtonText": "Si, Eliminar",
                "reverseButtons":true,
                "confirmButtonColor": "#dc3545",
                "backdrop":true,
                "showLoaderOnConfim": true,
            })
            .then(function(result){
                if(result.isConfirmed){                    
                    window.location.href = "/elimina/"+id
                }
            })
        }
    </script>
{% endblock %}


<div class="card">
    <div class="card-header">
        <a
            name=""
            id=""
            class="btn btn-success"
            href="{% url 'crear' %}"
            role="button"
            >Crear Declaraciones</a
        >
        
    </div>
    <div class="card-body">
        <h4 class="card-title">Visor General</h4>
        <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Código</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Tiempo</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Observación</th> 
                        <th scope="col">Imagen</th> 
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>       
                    {% for a in dvisor %}
                    <tr class="">
                        <td scope="row">{{a.IDDeclaracion}}</td>
                        <td scope="row">{{a.codigo}}</td>
                        <td scope="row">{{a.detalle}}</td>
                        <td scope="row">{{a.tiempo}}</td>
                        {% if a.estado %}
                            <td scope="row" style="color: red">Activo</td>                        
                        {%else %}
                            <td scope="row" style="color: black">Inactivo </td>                        
                        {% endif%}                        
                        <td scope="row">{{a.observaciones}}</td> 
                        <td>
                            <img src="{{ a.imagen.url }}" height ="50" />      
                        </td>                    
                        <td><a name="" id="" class="btn btn-primary" href="{% url 'editar' a.IDDeclaracion %}"  role="button"><i class="bi bi-pencil"></i></a>
                            <a name="" id="" class="btn btn-danger"  href="#" onclick="eliminadecla({{a.IDDeclaracion}})"  role="button"><i class="bi bi-trash"></i></a>
                        </td>
                    {% endfor %}    

                  
                </tbody>
         
         </table>     
                <!-- paginacion-->                                                       
                {% include "formas/paginacion.html" %}   
    </div>
    <div class="card-footer text-muted">Defina las fechas de Presentación</div>
</div>


<script>
    $(document).ready(function() {
        // Función para ordenar los datos al hacer clic en el encabezado de la columna
        $('th').click(function() {
            var table = $(this).parents('table').eq(0);
            var rows = table.find('tr:gt(0)').toArray().sort(comparar($(this).index()));

            this.asc = !this.asc;
            if (!this.asc) {
                rows = rows.reverse();
            }
            for (var i = 0; i < rows.length; i++) {
                table.append(rows[i]);
            }
        });
        
        // Función para comparar los valores y ordenarlos
        function comparar(index) {
            return function(a, b) {
                var valA = getCellValue(a, index);
                var valB = getCellValue(b, index);
                return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB);
            };
        }

        // Función para obtener el valor de la celda
        function getCellValue(row, index) {
            return $(row).children('td').eq(index).text();
        }
    });
</script>
{% endblock %}
