/*Formulario Base */ 
/* Cambia el color del texto y del icono al mismo tiempo  formulario base */
.dropdown-toggle.facturacion {
    color: #0099cc; /* Color azul letra menu */
}

/* Cambia solo el color del icono */
.dropdown-toggle.beneficios .bi {
    color: #ff6600; /* Color naranja */
}
/* Cambia solo el color del icono Declaracion */
.dropdown-toggle.declaracion .fa {
    color: #3d0ee7; /* Color naranja */
}

.dropdown-toggle.clientes .fa {
    color: #df41af; /* Color naranja */
}    

.dropdown-toggle.funcionarios .fa {
    color: #077697; /* Color celeste icono menu  */
}

/* tamaño de las tablas */
.table th, .table td {
    font-size: smaller;
}

/* Cambia solo el color del icono seguridad */
.dropdown-toggle.seguridad .bi {
    color: #6076d8; /* Color naranja */
}


/*Formulario login */ 
body.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh; /* Ocupa el 100% de la altura de la ventana */
    margin: 0;
    font-family: Arial, sans-serif;
}

.form-container{
    text-align: center; /* Centra el texto y el contenido del formulario */
    border: 1px solid #ddd; /* Opcional: agrega un borde al contenedor del formulario */
    padding: 20px;
    border-radius: 5px; /* Opcional: agrega bordes redondeados */
    background-color: #f9f9f9; /* Opcional: agrega un color de fondo */
}

h2 {
  margin-bottom: 20px;
}

button {
    margin-top: 10px; /* Espacio superior del botón */
}

p {
    color: red;
}