/* Maneja el login */ 
body.login {
    background-image: url('/static/imagenes/login.jpeg');
    background-size: cover; /* Ajusta la imagen para que cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */    
    margin: 0; /* Elimina los márgenes predeterminados del body */
    height: 100vh; /* altura completa de la pantalla */
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para el formulario */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*Formulario Base */ 
/* Cambia el color del texto y del icono al mismo tiempo  formulario base */
.dropdown-toggle.facturacion {
    color: #0099cc; /* Color azul letra menu */
}

/* Cambia solo el color del icono */
.dropdown-toggle.beneficios .bi {
    color: #ff6600; /* Color naranja */
}
/* Cambia solo el color del icono Declaracion */
.dropdown-toggle.declaracion .fa {
    color: #3d0ee7; /* Color naranja */
}

.dropdown-toggle.clientes .fa {
    color: #df41af; /* Color naranja */
}    

.dropdown-toggle.funcionarios .fa {
    color: #077697; /* Color celeste icono menu  */
}

/* tamaño de las tablas */
.table th, .table td {
    font-size: smaller;
}

/* Cambia solo el color del icono seguridad */
.dropdown-toggle.seguridad .bi {
    color: #6076d8; /* Color naranja */
}


/*Formulario login */ 
body.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh; /* Ocupa el 100% de la altura de la ventana */
    margin: 0;
    font-family: Arial, sans-serif;
}

.form-container{
    text-align: center; /* Centra el texto y el contenido del formulario */
    border: 1px solid #ddd; /* Opcional: agrega un borde al contenedor del formulario */
    padding: 20px;
    border-radius: 5px; /* Opcional: agrega bordes redondeados */
    background-color: #f9f9f9; /* Opcional: agrega un color de fondo */
}

h2 {
  margin-bottom: 20px;
}

button {
    margin-top: 10px; /* Espacio superior del botón */
}

p {
    color: red;
}

.input-group-container {
    max-width: 800px; /* Ajusta el ancho máximo según sea necesario         Parametros */
    margin: 1 auto; /* 0 Centra el contenedor horizontalmente                 Parametros*/
}

.input-group {
    width: 100%; /* Asegura que el input ocupe todo el ancho del contenedor  Parametros*/
}


/* formulario parametros */

#formularioParametros {
    margin: 5px ;
    padding: 5px;
    max-width: 1800px;   
}

#nombre {
    max-width: 180%;
}

#IDCia{
    max-width: 10%;
}

.container_boton {
    display: flex;
    justify-content: flex-end; /* Alinea el contenido al final (derecha) del contenedor */
    padding: 20px; /* Opcional: agrega algo de espacio dentro del contenedor */
}

#Boton{  
    left: 10; 
    margin: 5px ;
    padding: 55px; 
}

#server{
    max-width: 20%;
}

/*  es el formulario de Creacion de Usuarios */ 

#formularioUsuario{
    margin:0 auto;
    max-width: 1200px;

}
/*
#TablaUsuarios{
    width: 100%;
    margin-top: 140px;
}*/