{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>{% block titulo %} {% endblock %}</title>       
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
         <!-- Incluir jQuery       
        <script src="{% static 'https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.js' %}"></script>        -->           
        <!-- Otros elementos del head -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">               
        <!-- Bootstrap CSS v5.2.1 -->
        <!-- iconos de font-awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"                
        />
    </head>

    <body>      

      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-book"></i> Declaraciones</a>
                <ul class="dropdown-menu">                 
                  <li><a class="dropdown-item" href="{% url 'visor' %}"><i class="fa fa-outdent"> Visor General</i> </a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'calendario' %}"><i class="bi bi-calendar2-date" > Calendario Tributario</i></a></li>
                  <li><a class="dropdown-item" href="{% url 'asigna' %}"><i class="fa fa-address-book" > Asigna Clientes a Funcionarios</i></a></li>
                  <li><a class="dropdown-item" href="{% url 'pendiente' %}"><i class="fa fa-street-view"> Clientes Sin Asignación</i></a></li>
                  <li><a class="dropdown-item" href="{% url 'buscadeclaracion' %}"><i class="fas fa-asterisk"> Buscar Declaración a Clientes</i></a></li>                  
                  <li><a class="dropdown-item" href="{% url 'iniciadeclaracion' %}"><i class="bi bi-cone"> Iniciar o Finaliza Declaración por Cliente</i></a></li>                  
                  <li><a class="dropdown-item" href="{% url 'StatusDeclaracion' %}"><i class="bi bi-chat-left-text"> Status de las Declaraciones</i></a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'ConfirmaDeclaracion' %}"><i class="bi bi-file-lock2-fill"> Confirma Declaraciones</i></a></li>
                  <li><a class="dropdown-item" href="{% url 'DeclaracionesConfirmadas' %}"><i class="bi bi-bookmark-check"> Declaraciones Confirmadas </i></a></li>
                  <li><a class="dropdown-item" href="#">Borrar Histórico</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-address-book"></i> Clientes</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'clientes_declaraciones' %}"><i class="fa fa-deaf"> Asigna Declaraciones a Clientes</i></a></li>
                  <li><a class="dropdown-item" href="#">Pendientes por Realizar</a></li>
                  <li><a class="dropdown-item" href="">Registro de Recibos</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#"></a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-sitemap"></i> Funcionarios</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Funcionarios</a></li>
                  <li><a class="dropdown-item" href="#">Asignadas</a></li>
                  <li><a class="dropdown-item" href="#">Visor de Eventos</a></li>                  
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Envios</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-card-checklist"></i> Beneficios</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Condicion PYME</a></li>
                  <li><a class="dropdown-item" href="#">Exoneraciones Exonet</a></li>  
                  <li><a class="dropdown-item" href="#">Otras Exoneraciones</a></li>
                  <li><a class="dropdown-item" href="#"></a></li>                  
                  <li><hr class="dropdown-divider"></li>                  
                </ul>
              </li>
            </ul>
                <!--<form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Buscar </button>
                  <button class="btn btn-primary" type="button">Terminar</button>
                </form>
              -->
              <form id="miFormulario">
                <!-- Otros elementos del formulario -->
                <button type="button" class="btn btn-primary" onclick="exit_confirmation()">Finaliza</button>
            </form>
            

            <script>
              function exit_confirmation() {                  
                  fetch(`/salir/`).then(response => {
                      
                  }).catch(error=>{
                      console.error('Error al salir ',error);
                  });
              }
          </script>

              
          </div>
        </div>
      </nav>
      
      <div class="containner">
        <div class="row">
          <div class="col-12">
                {% block contenido %} {% endblock %}
          </div>
        </div>

      </div>
      <!--# sweetalert2 -->
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>   

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>


        <!--- Control de mensajes -->
        {% if messages %}
          {% for m in messages %}
             <script>
                Swal.fire({
                  "title": "Felicidades",
                  "text": "{{m}}",
                  "icon": "success"
                })
             </script>
          {% endfor %}
        {% endif %}        
    </body>
</html>
