{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block titulo %}Título de la página{% endblock %}</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">    
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">    
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">    
    <!-- Estilos personalizados css-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
</head>
<body>      

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- Menú desplegable "Declaraciones" -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle declaracion" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-book"></i> Declaraciones</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'visor' %}"><i class="fa fa-outdent"></i> Visor General</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'calendario' %}"><i class="bi bi-arrow-down-left-circle"></i> Calendarización</a></li>
                            <li><a class="dropdown-item" href="{% url 'calendariotributario' %}"><i class="bi bi-calendar2-date"></i> Calendario Tributario</a></li>
                            <li><a class="dropdown-item" href="{% url 'reasignacalendario' %}"><i class="bi bi-back"></i> Reasignación Calendario Tributario</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'asigna' %}"><i class="fa fa-address-book"></i> Asigna Clientes a Funcionarios</a></li>
                            <li><a class="dropdown-item" href="{% url 'pendiente' %}"><i class="fa fa-street-view"></i> Clientes Sin Asignación</a></li>
                            <li><a class="dropdown-item" href="{% url 'buscadeclaracion' %}"><i class="fas fa-asterisk"></i> Buscar Declaración a Clientes</a></li>
                            <li><a class="dropdown-item" href="{% url 'iniciadeclaracion' %}"><i class="bi bi-cone"></i> Iniciar o Finalizar Declaración por Cliente</a></li>
                            <li><a class="dropdown-item" href="{% url 'StatusDeclaracion' %}"><i class="bi bi-chat-left-text"></i> Status de las Declaraciones</a></li>
                            <li><a class="dropdown-item" href="{% url 'Vslevanta_Stattus' %}"><i class="bi bi-backpack3-fill"></i> Status y Calendario de las Declaraciones</a></li>
                            <li><a class="dropdown-item" href="{% url 'VisionDeclaracion' %}"><i class="bi bi-cookie"></i> Visión Global de las Declaraciones</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Generador de Borradores</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'ConfirmaDeclaracion' %}"><i class="bi bi-file-lock2-fill"></i> Confirma Declaraciones</a></li>
                            <li><a class="dropdown-item" href="{% url 'DeclaracionesConfirmadas' %}"><i class="bi bi-bookmark-check"></i> Declaraciones Confirmadas</a></li>
                        </ul>
                    </li>

                    <!-- Menú desplegable "Clientes" -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle clientes" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-address-book"></i> Clientes</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'clientesactivos' %}"><i class="bi bi-sunset"></i> Clientes Activos</a></li>
                            <li><a class="dropdown-item" href="{% url 'clientes_declaraciones' %}"><i class="fa fa-deaf"></i> Asigna Declaraciones a Clientes</a></li>
                            <li><a class="dropdown-item" href="{% url 'pendiente_realizar' %}"><i class="bi bi-cone-striped"></i> Pendientes por Realizar</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'historico_movimientos' %}"><i class="bi bi-collection"></i> Historico de Movimientos Presentación</a></li>
                            <li><a class="dropdown-item" href="{% url 'busqueda_historico_movimientos' %}"><i class="bi bi-collection"></i> Búsqueda Historica de Movimientos</a></li>
                        </ul>
                    </li>

                    <!-- Menú desplegable "Funcionarios" -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle funcionarios" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-sitemap"></i> Funcionarios</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'Funcionarios' %}"><i class="bi bi-person-fill"></i> Funcionarios</a></li>
                            <li><a class="dropdown-item" href="{% url 'asignadasafuncionario' %}"><i class="bi bi-person-lines-fill"></i> Funcionarios y sus asignados</a></li>
                            <li><a class="dropdown-item" href="{% url 'clienteyfuncionario' %}"><i class="bi bi-stack"></i> Clientes Estado</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Envíos</a></li>
                        </ul>
                    </li>

                    <!-- Menú desplegable "Beneficios" -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle beneficios" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-card-checklist"></i> Beneficios</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'Declara_Tipo' %}"><i class="bi bi-ui-checks-grid"></i> Mantenimiento de Tipos</a></li>
                            <li><a class="dropdown-item" href="{% url 'Asigna_tipo' %}" ><i class="bi bi-bounding-box"></i> Asignación de Tipos</a></li>
                            <li><a class="dropdown-item" href="{% url 'Visor_Beneficios' %}"><i class="bi bi-file-richtext-fill"></i> Visor Movimientos por Tipo y Cliente</a></li>                                                                        
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'BNotificar' %}"><i class="bi bi-calendar-check-fill"></i> Notificaciones </a></li>
                            <li><a class="dropdown-item" href="{% url 'BNotificar2' %}"><i class="bi bi-calendar-check-fill"></i> Notificaciones automática </a></li>
                        </ul>
                    </li>

                    <!-- Menú desplegable "Facturación" -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle facturacion" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-cash-coin"></i> Facturación
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Visor Pendiente Fase 3</a></li>
                            <li><a class="dropdown-item" href="#">Facturar Fase 3</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'Bitacora' %}">Bitácora de Eventos</a></li>
                        </ul>
                    </li>                    

                     <!-- Menú desplegable "Reportes " -->
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle reportes" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-printer-fill"></i> Reportes
                        </a>
                        <ul class="dropdown-menu">                                                      
                            <li><a class="dropdown-item" href="{% url 'Rep_General_Declaracion' %}"><i class="bi bi-printer"></i> Listado de Declaraciones General</a></li>
                            <li><a class="dropdown-item" href="#">Calendario Tributario anual </a></li>
                            <li><a class="dropdown-item" href="#">Calendario Tributario Mensual</a></li>
                            <li><a class="dropdown-item" href="#">Funcionarios Asignados</a></li>
                            <li><a class="dropdown-item" href="{% url 'Rep_Clientesasignar' %}"><i class="bi bi-printer"></i> Clientes sin Asignar</a></li>
                            <li><a class="dropdown-item" href="#">Status de Declaraciones</a></li>
                            <li><a class="dropdown-item" href="#">Declaraciones por Confirmar</a></li>
                            <li><a class="dropdown-item" href="#">Clientes Asignados a Funcionarios</a></li>
                            <li><a class="dropdown-item" href="#">Reporte Proceso de las Declaraciones Inicio, Proceso</a></li>
                            <li><a class="dropdown-item" href="#">Estado de las Declaraciones</a></li>
                            <li><a class="dropdown-item" href="#">Funcionarios y sus Cargas</a></li>
                            <li><a class="dropdown-item" href="#">Funcionarios y sus Asignadas</a></li>
                            <li><a class="dropdown-item" href="#">Beneficios asignados</a></li>
                            <li><a class="dropdown-item" href="#">Estado Mensual</a></li>

                        </ul>
                    </li>                        
                     <!-- Menú desplegable "Seguridad" -->
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle seguridad" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-key"></i> Seguridad
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'Rusuarios' %}">Usuarios</a></li>                            
                            <li><a class="dropdown-item" href="{% url 'Bitacora' %}"><i class="bi bi-layout-text-sidebar"></i> Bitácora</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'GParametros' %}"><i class="bi bi-database-fill-up"></i> Parámetros</a></li>
                            <li><a class="dropdown-item" href="{% url 'AjusteDeclaraciones' %}"><i class="bi bi-gear"></i> Ajuste Mes Declaración</a></li> 
                        </ul>
                    </li>
                </ul>
                <!-- Formulario de Salir del Sistema -->
                <form id="miFormulario">
                    <button type="button" class="btn btn-primary" onclick="Salir_Sistema()">Salir del Sistema</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container-fluid min-vh-100">
        <div class="row">
            <div class="col-12">
                {% block contenido %}Contenido del bloque{% endblock %}
            </div>
        </div>
    </div>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>

    <!-- Función para Salir del Sistema -->
    <script>
        function Salir_Sistema() {
            Swal.fire({
                title: "¿Estás seguro?",
                text: "¿Deseas salir de la aplicación?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Salir del Sistema"
            }).then((willExit) => {
                if (willExit.isConfirmed) {                    
                    // redirección después de cerrar sesión
                    window.location.href = "/";
                }
            });
        }
    </script>

    <!-- Control de mensajes -->
    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                    title: "Felicidades",
                    text: "{{ m }}",
                    icon: "{{ m.tags }}",
                });
            </script>
        {% endfor %}
    {% endif %}
    <!-- Fin de código de mensajes -->
</body>
</html>
